In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [9]:
# html_text = requests.get(f"https://books.toscrape.com/catalogue/page-{i}.html").text

In [7]:
# soup = BeautifulSoup(html_text, "lxml")

In [13]:
# print(soup.prettify())

In [29]:
# contants = soup.find_all('article', class_="product_pod")

In [6]:
name = []
price = []
rating = []
avilablity = []
book_info_link = []

for i in range(1, 51):
    try:
        url = f"https://books.toscrape.com/catalogue/page-{i}.html"
        html_text = requests.get(url, timeout=10).text
        soup = BeautifulSoup(html_text, "lxml")
        contants = soup.find_all('article', class_="product_pod")
    except Exception as e:
        print(f"Error loading page {i}: {e}")
        continue
        
    for contant in contants:
        # Name
        try:
            name.append(contant.find("h3").find("a")['title'])
        except:
            name.append(None)

        # Price
        try:
            price_text = contant.find("div", class_="product_price").find("p").text
            price.append(price_text.split("£")[1])
        except:
            price.append(None)

        # Rating
        try:
            rating.append(contant.find("p", class_='star-rating')['class'][1])
        except:
            rating.append(None)

        # Availability
        try:
            avilablity.append(contant.find("p", class_="instock availability").text.strip())
        except:
            avilablity.append(None)

        # Book link
        try:
            link = contant.find("div", class_="image_container").find("a")["href"]
            book_info_link.append(link)
        except:
            book_info_link.append(None)
data = {"Name":name,"Price":price,"Rating":rating,"Avilablity":avilablity,"book_link":book_info_link}
book_df = pd.DataFrame(data)

In [7]:
book_df.to_csv("Book Data Scrape.csv")

In [8]:
book_df

,Name,Price,Rating,Avilablity,book_link
0,A Light in the Attic,51.77,Three,In stock,a-light-in-the-attic_1000/index.html
1,Tipping the Velvet,53.74,One,In stock,tipping-the-velvet_999/index.html
2,Soumission,50.10,One,In stock,soumission_998/index.html
3,Sharp Objects,47.82,Four,In stock,sharp-objects_997/index.html
4,Sapiens: A Brief History of Humankind,54.23,Five,In stock,sapiens-a-brief-history-of-humankind_996/index...
...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,55.53,One,In stock,alice-in-wonderland-alices-adventures-in-wonde...
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,Four,In stock,ajin-demi-human-volume-1-ajin-demi-human-1_4/i...
997,A Spy's Devotion (The Regency Spies of London #1),16.97,Five,In stock,a-spys-devotion-the-regency-spies-of-london-1_...
998,1st to Die (Women's Murder Club #1),53.98,One,In stock,1st-to-die-womens-murder-club-1_2/index.html
999,"1,000 Places to See Before You Die",26.08,Five,In stock,1000-places-to-see-before-you-die_1/index.html